<div class="casino-list-container center-container"><!---->
    <div>
        <div class="report-box casino-box fancy-page">
            <div class="container-fluid container-fluid-5 d-none-mobile">
                <div class="row row1">
                    <div class="col-md-2">
                        <div class="facncy-provider">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/4.png">
                                            <span>Our Casino</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/52.png">
                                            <span>Premium Casino</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/19.png">
                                            <span>Our Virtual</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/53.png">
                                            <span>Tembo</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/24.png">
                                            <span>Creedroomz</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/21.png">
                                            <span>Vivo Gaming</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/5.png">
                                            <span>Evolution</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/1.png">
                                            <span>EZUGI</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/6.png">
                                            <span>CockFight</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/42.png">
                                            <span>WINFINITY</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/43.png">
                                            <span>Jacktop</span></div>
                                    </a></li>
                                <li class="nav-item"><a class="nav-link">
                                        <div><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/48.png">
                                            <span>Gemini</span></div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10 tab-content">
                        <div class="casino-tabs">
                            <div class="casino-tabs-menu"><a href="javascript:void(0)"
                                    class="arrow-tabs arrow-left"><img
                                        src="https://wver.sprintstaticdata.com/v158/static/front/img/arrow-down.svg"></a>
                                <ul id="casino-scroll-tab" class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link active"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/35.png">
                                            <span>All Casino</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/31.png">
                                            <span>Roulette</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/20.png">
                                            <span>Teenpatti</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/21.png">
                                            <span>Poker</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/22.png">
                                            <span>Baccarat</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/23.png">
                                            <span>Dragon Tiger</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/24.png">
                                            <span>32 Cards</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/26.png">
                                            <span>Andar Bahar</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/27.png">
                                            <span>Lucky 7</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/28.png">
                                            <span>3 Card Judgement</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/29.png">
                                            <span>Casino War</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/30.png">
                                            <span>Worli</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/34.png">
                                            <span>Sports</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/32.png">
                                            <span>Bollywood</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/33.png">
                                            <span>Lottery</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/40.png">
                                            <span>Queen</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/41.png">
                                            <span>Race</span></a></li>
                                    <li class="nav-item"><a class="nav-link"><img
                                                src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/73.png">
                                            <span>Others</span></a></li>
                                </ul> <a href="javascript:void(0)" class="arrow-tabs arrow-right"><img
                                        src="https://wver.sprintstaticdata.com/v158/static/front/img/arrow-down.svg"></a>
                            </div>
                            <div class="casino-search"><input type="text" placeholder="Search for Casino"
                                    class="form-control">
                                <div class="search-icon"><i class="fas fa-search"></i></div>
                            </div>
                        </div>
                        <div class="tab-pane active">
                            <div class="casino-banners">
                                @for (item of casino_list | keyvalue; track item.key) {
                                    <div class="casino-banner-item"><a href="/casino/{{ item.key }}" class="">
                                        <div
                                            style="background-size: cover; background-position: center center; padding-top: 53.33%; background-image: url(&quot;https://sitethemedata.com/casino_icons/lc/{{ item.value }}.jpg&quot;), url(&quot;https://wver.sprintstaticdata.com/v158/static/front/img/casino/default-2.jpeg&quot;);">
                                        </div>
                                    </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none-desktop">
                <div class="facncy-provider">
                    <div class="fancy-provider-title"><a><span>Providers</span> <span></span></a></div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/4.png">
                                    <span>Our Casino</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/52.png">
                                    <span>Premium Casino</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/19.png">
                                    <span>Our Virtual</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/53.png">
                                    <span>Tembo</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/24.png">
                                    <span>Creedroomz</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/21.png">
                                    <span>Vivo Gaming</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/5.png">
                                    <span>Evolution</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/1.png">
                                    <span>EZUGI</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/6.png">
                                    <span>CockFight</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/42.png">
                                    <span>WINFINITY</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/43.png">
                                    <span>Jacktop</span></div>
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                                <div><img src="https://wver.sprintstaticdata.com/v158/static/front/img/icons/48.png">
                                    <span>Gemini</span></div>
                            </a></li>
                    </ul>
                </div>
                <div id="casinoListTarget" class="fancy-provider-list">
                    <div class="fancy-provider-title"><a><span>Our Casino</span>
                            <div class="casino-search"><input type="text" placeholder="Search for Casino"
                                    class="form-control">
                                <div class="search-icon"><i class="fas fa-search"></i></div>
                            </div>
                        </a></div>
                    <div class="casino-tabs">
                        <div class="casino-tabs-menu">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/35.png">
                                        <span>All Casino</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/31.png">
                                        <span>Roulette</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/20.png">
                                        <span>Teenpatti</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/21.png">
                                        <span>Poker</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/22.png">
                                        <span>Baccarat</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/23.png">
                                        <span>Dragon Tiger</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/24.png">
                                        <span>32 Cards</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/26.png">
                                        <span>Andar Bahar</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/27.png">
                                        <span>Lucky 7</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/28.png">
                                        <span>3 Card Judgement</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/29.png">
                                        <span>Casino War</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/30.png">
                                        <span>Worli</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/34.png">
                                        <span>Sports</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/32.png">
                                        <span>Bollywood</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/33.png">
                                        <span>Lottery</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/40.png">
                                        <span>Queen</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/41.png">
                                        <span>Race</span></a></li>
                                <li class="nav-item"><a class="nav-link"><img
                                            src="https://wver.sprintstaticdata.com/v158/static/front/img/casino-tab-icons/4/73.png">
                                        <span>Others</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="casino-banners-fancy all">
                        @for (item of casino_list | keyvalue; track item.key) {
                            <div class="casino-banner-item"><a href="/casino/{{ item.key }}" class="">
                                <div style="background-size: cover; background-position: center center; padding-top: 53.33%; background-image: url(&quot;https://sitethemedata.com/casino_icons/lc/{{ item.value }}.jpg&quot;), url(&quot;https://wver.sprintstaticdata.com/v158/static/front/img/casino/default-2.jpeg&quot;);">
                                </div>
                            </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
