<div class="sidebar-left d-none-mobile">
    <div class="logo-box d-none-mobile">
      <div class="logo">
        <a href="/sport" class="">
          <img src="https://sitethemedata.com/sitethemes/allpanel777.com/front/logo.png" class="img-fluid">
        </a>
      </div>
    </div>
    <div class="d-none-desktop tabs-mobile">
      <ul>
        <li>
          <a href="/othergames/33" class="">Lottery</a>
        </li>
        <li>
          <a href="/sport" class=""> Exchange </a>
        </li>
        <li>
          <a href="/owncasino" class=""> Our Casino </a>
        </li>
        <li>
          <a href="/slot" class=""> Casino + Slot </a>
        </li>
        <li>
          <a href="/fantasy" class=""> Fantasy Games </a>
        </li>
      </ul>
    </div>
    <div class="menu-box casino-menu">
      <ul class="navbar-nav">
        <!---->
        <span mode="out-in">
          <li class="nav-item">
            <a href="javascript:void(0)" class="active">
              <span class="sport-name">All Casino</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Roulette</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Teenpatti</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Poker</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Baccarat</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Dragon Tiger</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">32 Cards</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Andar Bahar</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Lucky 7</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">3 Card Judgement</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Casino War</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Worli</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Sports</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Bollywood</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Lottery</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Queen</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Race</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="">
              <span class="sport-name">Others</span>
            </a>
          </li>
        </span>
      </ul>
    </div>
  </div>