    <header class="header header-casino">
      <a href="/sport" class="d-none-desktop">
        <div class="d-none-desktop d-inline-block top-home-icon">
          <i class="fas fa-home"></i>
        </div>
      </a>
      <!---->
      <!---->
      <div tabindex="-1" class="b-sidebar-outer">
        <!---->
        <div id="sidebar-border" tabindex="-1" role="dialog" aria-modal="true" aria-hidden="true" class="b-sidebar shadow bg-light text-dark d-none-desktop" style="width: 80%; display: none;">
          <!---->
          <div class="b-sidebar-body">
            <div id="sidebar-left-mo" class="sidebar-left">
              <div class="menu-scrolable">
                <div class="search-box">
                  <div class="form-group d-inline-block mb-0">
                    <input type="text" placeholder="Search" autocomplete="off" class="form-control" style="text-transform: lowercase;">
                    <img src="https://wver.sprintstaticdata.com/v156/static/front/img/search.svg" class="search-icon">
                  </div>
                  <div class="menu-button-mobile d-none-desktop">
                    <span class="menu-button-bar"></span>
                    <span class="menu-button-bar"></span>
                    <span class="menu-button-bar"></span>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
            </div>
          </div>
          <!---->
        </div>
        <!---->
        <div class="b-sidebar-backdrop bg-dark" style="display: none;"></div>
      </div>
      <div class="logo-box d-none-desktop">
        <a href="/sport" class="">
          <div class="logo">
            <img src="https://sitethemedata.com/sitethemes/allpanel777.com/front/logo.png" class="img-fluid">
          </div>
        </a>
      </div>
      <div class="upcoming-fixure d-none-mobile">
        <div class="fixure-title">Upcoming Fixure</div>
        <div class="fixure-box-container">
          <div id="carousel0" data-ride="carousel" data-interval="3000" class="carousel vert slide">
            <div class="carousel-inner">
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/BYXT033zHwg+HsJiIG%2FXLA==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> D Galfi v Hibino
                    </div>
                    <div>06/08/2025 02:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/nilhduKzZn8+E8LG++Psvw==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Kukushkin v Em Nava
                    </div>
                    <div>06/08/2025 02:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/ajX7nh1MbUjIB6swpFl9CA==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Yo Watanuki v Svrcina
                    </div>
                    <div>06/08/2025 02:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/NM7Fn5kuVsQnimbDzw48CQ==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Eri Hozumi v Shibahara
                    </div>
                    <div>06/08/2025 00:30:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/U8ECkbbXCoxZyagN5MtdyQ==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Svitolina v N Osaka
                    </div>
                    <div>06/08/2025 05:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/uacAAZ+vG1oCmC3EwAY5MA==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Cle Ngounoue v Gadecki
                    </div>
                    <div>06/08/2025 01:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/Qr+6viwIo%2Fbx4%2FbbI27hpg==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> P Kypson v Gigante
                    </div>
                    <div>06/08/2025 01:10:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/o3OGzlwKjRIJvom9wfpFow==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Rublev v Fritz
                    </div>
                    <div>06/08/2025 04:30:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/Hgiy4sAqnyFzFZDghpCmSg==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> And Fenty v Yu Hsu
                    </div>
                    <div>06/08/2025 01:20:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/HuwAfCmLOUFG9Cf5hu0wdQ==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Osuigwe v A Sasnovich
                    </div>
                    <div>06/08/2025 00:30:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/qpEnzOvMzZe4vJa8DvBoiw==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Lu Nardi v Aid Mayo
                    </div>
                    <div>06/08/2025 00:30:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/ASzW07vpREjXJWZNZ1O9tg==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Duckworth v Li Tu
                    </div>
                    <div>06/08/2025 01:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/cMUlfqOfjoXMTbsIrdh80A==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> G Hussey v Damm Jr
                    </div>
                    <div>06/08/2025 02:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/NCNtIH2jMF1uTvBjPSCmeQ==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Bolt v Ts Huang
                    </div>
                    <div>06/08/2025 01:30:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="fixure-box">
                  <a href="/sport/game/ZMsVdzACxXZhtFWzJX9BDA==/9jRbeqJPqmN5KMH88eHYVQ==" class="">
                    <div>
                      <i class="d-icon mr-2 icon-2"></i> Krunic v Aoi Ito
                    </div>
                    <div>06/08/2025 02:00:00 (UTC+05:30)</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div class="news-bar d-none-mobile">
        <marquee> Welcome to allpanel777.com. </marquee>
        <div class="news-title">
          <img src="https://wver.sprintstaticdata.com/v156/static/front/img/icons/speaker.svg">
        </div>
      </div>
      <div class="float-right header-right">
        <div class="balance d-none-mobile">
          <div>
            <i class="fas fa-wallet"></i>
          </div>
          <div>
            <span class="balance-value">pts: : 1500</span>
            <span class="balance-value">exp: 0</span>
          </div>
        </div>
        <div data-toggle="collapse" data-target="#user-dropdown" class="username-info d-none-mobile collapsed" aria-expanded="false">
          <span class="user-icon">
            <i class="fas fa-user"></i>
          </span>
          <span class="username">Demo</span>
          <img src="https://wver.sprintstaticdata.com/v156/static/front/img/arrow-down.svg">
          <div id="user-dropdown" class="collapse user-dropdown">
            <!---->
            <!---->
            <a href="/report/accountstatement" class="">Account Statement</a>
            <!---->
            <!---->
            <a href="/report/currentbets" class="">Current Bets</a>
            <!---->
            <a href="/report/casinoresult" class="">Casino Results</a>
            <!---->
            <!---->
            <a href="javascript:void(0)">Set Button Value</a>
            <!---->
            <!---->
            <!---->
            <div class="login-seperator"></div>
            <a href="javascript:void(0)">Logout</a>
          </div>
        </div>
        <div class="text-center d-none-desktop bal-point"> pts: <span>1500</span>
          <span> | 0</span>
        </div>
        <!---->
        <div class="username-info d-none-desktop">
          <div data-toggle="collapse" data-target="#user-dropdown" class="d-inline-block collapsed" aria-expanded="false">
            <span class="user-icon">
              <i class="fas fa-user"></i>
            </span>
            <span class="username">Demo</span>
            <img src="https://wver.sprintstaticdata.com/v156/static/front/img/arrow-down.svg">
          </div>
          <div id="user-dropdown" class="collapse user-dropdown">
            <div class="switch-theme thme-menu-btn day night">
              <div class="day-theme d-none">
                <i class="fas fa-sun"></i>
              </div>
              <div class="night-theme">
                <i class="fas fa-moon"></i>
              </div>
            </div>
            <!---->
            <!---->
            <a href="/report/accountstatement" class=""> Account Statement</a>
            <!---->
            <!---->
            <a href="/report/currentbets" class="">Current Bets</a>
            <!---->
            <a href="/report/casinoresult" class="">Casino Results</a>
            <!---->
            <!---->
            <a href="javascript:void(0)">Set Button Value</a>
            <!---->
            <!---->
            <div class="login-seperator"></div>
            <a href="javascript:void(0)">Logout</a>
          </div>
        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
    </header>
