        <footer class="footer">
          <!---->
          <!---->
          <div class="support">
            <div>
              <div class="w-100 text-center">
                <b>24X7 Support</b>
              </div>
              <div class="text-center w-100">
                <!---->
              </div>
            </div>
            <!---->
          </div>
          <div class="footer-menu">
            <ul>
              <li>
                <a href="/" class="router-link-active" target="_blank">About Us</a>
              </li>
              <li>
                <a href="/faq" class="">FAQ</a>
              </li>
              <li>
                <a href="javascript:void(0);">Rules</a>
              </li>
              <li>
                <a href="/terms-and-conditions" class="" target="_blank">Terms and Conditions</a>
              </li>
              <li>
                <a href="/responsible-gaming" class="" target="_blank">Responsible Gaming</a>
              </li>
              <!---->
            </ul>
          </div>
          <div class="footer-box">
            <div class="footer-top">
              <div class="secure-logo">
                <div>
                  <img src="https://wver.sprintstaticdata.com/v156/static/front/img/ssl.png" alt="ssl">
                </div>
                <div class="ml-2">
                  <b>100% SAFE</b>
                  <div> Protected connection and encrypted data </div>
                </div>
              </div>
              <div class="d-inline-block footer-other">
                <a href="javascript:void(0)" role="button">
                  <img src="https://wver.sprintstaticdata.com/v156/static/front/img/18plus.png" alt="18plus">
                </a>
                <!---->
                <a href="https://www.gamcare.org.uk/" target="_blank">
                  <img src="https://wver.sprintstaticdata.com/v156/static/front/img/gamecare.png" alt="gamecare">
                </a>
                <a href="https://www.gamblingtherapy.org/en" target="_blank">
                  <img src="https://wver.sprintstaticdata.com/v156/static/front/img/gt.png" alt="gamblingtherapy">
                </a>
                <!---->
                <!---->
                <!---->
                <!---->
              </div>
            </div>
            <div class="footer-bottom">
              <!---->
            </div>
          </div>
          <div class="text-center mt-1 w-100 copyright"> © Copyright 2020. All Rights Reserved. </div>
          <!---->
          <!---->
          <!---->
          <!---->
        </footer>