<div class="casino-detail">
    <div class="text-right w-100 pr"></div>
    <div class="dtobx-top">

        @for (item of gameData?.sub; track item.sid) {
            @if (item.nat === 'Dragon') {
                <div class="dragon-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                    <div class="flex-book">
                        <b>Dragon</b>
                        <span class="d-block d-none">0</span>
                    </div>
                    <div class="text-center flex-odds">
                <span class="d-block">
                    <b> {{ item.b }} </b>
                </span>
                    </div>
                </div>
            }
        }

        @for (item of gameData?.sub; track item.sid) {
            @if (item.nat === 'Tie') {
                <div class="tiebox" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                    <div>
                        <b>Tie</b>
                    </div>
                    <div class="text-center flex-odds">
                        <span class="d-block">
                            <b> {{ item.b }} </b>
                        </span>
                        <span class="d-block d-none">0</span>
                    </div>
                </div>
            }
        }

        @for (item of gameData?.sub; track item.sid) {
            @if (item.nat === 'Tiger') {
                <div class="tiger-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                    <div class="flex-book">
                        <b>Tiger</b>
                        <span class="d-block d-none">0</span>
                    </div>
                    <div class="text-center flex-odds">
                        <span class="d-block">
                            <b> {{ item.b }} </b>
                        </span>
                    </div>
                </div>
            }
        }

        @for (item of gameData?.sub; track item.sid) {
            @if (item.nat === 'Pair') {
                <div class="pair-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                    <div>
                        <b>Pair</b>
                    </div>
                    <div class="text-center flex-odds">
                        <span class="d-block">
                            <b> {{ item.b }} </b>
                        </span>
                        <span class="d-block d-none">0</span>
                    </div>
                </div>
            }
        }
    </div>

    <div class="teen1daycasino-container mt-3">
        <div class="teen1dayleft">
            <div>
                <div class="casino-box-row justify-content-center casino-odds">
                    <div class="text-left w-100">
                        <b class="text-playera">Dragon</b>
                    </div>
                </div>
                <div class="casino-box-row">
                    @for (item of gameData?.sub; track item.sid) {
                        @if (item.nat === 'Dragon Even') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Dragon Odd') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Dragon Black') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Dragon Red') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }
                    }
                </div>
                <div class="casino-box-row">

                    @for (item of gameData?.sub; track item.sid) {
                        @if (item.nat === 'Dragon Even') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item">
                                    <span class="casino-box-odd">Even</span>
                                    <span class="d-none"> 0 </span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Dragon Even') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item">
                                    <span class="casino-box-odd">Odd</span>
                                    <span class="d-none"> 0 </span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Dragon Even') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item casino-card-img">
                                  <span>
                                      <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/spade.png">
                                      <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/club.png">
                                  </span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Dragon Even') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item casino-card-img">
                                <span>
                                  <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/heart.png">
                                  <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/diamond.png">
                              </span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <div class="casino-box cards-box mt-3">
                <div class="w-100">
                    <div class="casino-odds">
                        <div class="text-center w-100">
                            @for (item of gameData?.sub; track item.sid) {
                                @if (item.nat === 'Tiger Card 1') {
                                    <b> {{ item.b }} </b>
                                }
                            }
                        </div>
                    </div>
                    <div class="casino-cards text-center mt-1">
                        @for (item of gameData?.sub; track item.sid) {
                            @if (!['Dragon Even', 'Dragon Odd', 'Dragon Black', 'Dragon Red'].includes(item.nat) && item.nat.includes('Dragon') && item.nat !== 'Dragon') {
                                <div class="casino-card-item" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                    <div class="card-image">
                                        <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/cards/' + item.nat.split(' ')[2] + '.png'">
                                    </div>
                                    <div class="casino-book d-none">0</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="teen1daycenter"></div>
        <div class="teen1dayright">
            <div>
                <div class="casino-box-row justify-content-center casino-odds">
                    <div class="text-left w-100">
                        <b class="text-playerb">Tiger</b>
                    </div>
                </div>
                <div class="casino-box-row">

                    @for (item of gameData?.sub; track item.sid) {
                        @if (item.nat === 'Tiger Even') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Tiger Odd') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Tiger Black') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }

                        @if (item.nat === 'Tiger Red') {
                            <div class="casino-bl-box">
                                <b> {{ item.b }} </b>
                            </div>
                        }
                    }



                </div>
                <div class="casino-box-row">
                    @for (item of gameData?.sub; track item.sid) {
                        @if (item.nat === 'Tiger Even') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item">
                                    <span class="casino-box-odd">Even</span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Tiger Odd') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item">
                                    <span class="casino-box-odd">Odd</span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Tiger Black') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item casino-card-img">
                                <span>
                                      <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/spade.png">
                                      <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/club.png">
                                  </span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }

                        @if (item.nat === 'Tiger Red') {
                            <div class="casino-bl-box" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                <div class="back casino-bl-box-item casino-card-img">
                                    <span>
                                        <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/heart.png">
                                        <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/diamond.png">
                                      </span>
                                    <span class="d-none">0</span>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="casino-box cards-box mt-3">
                <div class="w-100">
                    <div class="casino-odds">
                        <div class="text-center w-100">
                            @for (item of gameData?.sub; track item.sid) {
                                @if (item.nat === 'Tiger Card 1') {
                                    <b> {{ item.b }} </b>
                                }
                            }
                        </div>
                    </div>
                    <div class="casino-cards text-center mt-1">

                        @for (item of gameData?.sub; track item.sid) {
                            @if (!['Tiger Even', 'Tiger Odd', 'Tiger Black', 'Tiger Red'].includes(item.nat) && item.nat.includes('Tiger') && item.nat !== 'Tiger') {
                                <div class="casino-card-item" [ngClass]="{ 'suspended': item.gstatus === 'SUSPENDED' }">
                                    <div class="card-image">
                                        <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/cards/' + item.nat.split(' ')[2] + '.png'">
                                    </div>
                                    <div class="casino-book d-none">0</div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
