<div class="casino-container-w">
    <div class="casino-center">
        <div class="casino-container">
          <!---->
          <div class="casino-table lucky7">
            <div class="casino-video">
              <!---->
              <div class="casino-video-title">
                <span class="casino-name">{{ gameName }}</span>
                <div class="casino-video-rid"> Round ID: 106250806012053 </div>
              </div>
              <div class="video-box-container">
                <div class="video-box">
                  <iframe src="/mediaplayer/lucky7/f70aedc1-b991-4da1-b8c7-71ebb37f2b59"></iframe>
                </div>
              </div>
              <div class="casino-video-cards ">
                <div class="casino-cards-shuffle">
                  <i class="fas fa-grip-lines-vertical"></i>
                </div>
                  @if (gameActive) {
                      <div class="casino-video-cards-container">
                          <div>
                    <span>
                      <img src="https://wver.sprintstaticdata.com/v156/static/front/img/cards/4DD.png">
                    </span>
                          </div>
                      </div>
                  }
              </div>
              <div class="casino-timer d-none-small">
                <div class="base-timer">
                  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="base-timer__svg">
                    <g class="base-timer__circle">
                      <circle cx="50" cy="50" r="45" class="base-timer__path-elapsed"></circle>
                      <path stroke-dasharray="-14 283" d="
        M 50, 50
        m -45, 0
        a 45,45 0 1,0 90,0
        a 45,45 0 1,0 -90,0
      " class="base-timer__path-remaining red"></path>
                    </g>
                  </svg>
                  <span class="base-timer__label red">
                    <span>10</span>
                  </span>
                </div>
              </div>
              <!---->
              <div class="casino-video-right-icons">
                <div title="Home" class="casino-video-home-icon">
                  <a href="/owncasino">
                    <i class="fas fa-home"></i>
                  </a>
                </div>
                <div title="Rules" class="casino-video-rules-icon">
                  <i class="fas fa-info-circle"></i>
                </div>
                <!---->
              </div>
              <!---->
            </div>
            <!-- Custom Section (changes per table) -->
              @if (component) {
                  <ng-container *ngComponentOutlet="component"></ng-container>
              } @else {
                  <div class="casino-detail">
                      <div class="casino-box low-high-box">
                          COMING SOON
                      </div>
                  </div>
              }
            <!-- <ng-container *ngTemplateOutlet="customTemplate;"></ng-container> -->
            <!---->
          </div>
          <!---->
          <!---->
          <!---->
        </div>
        <!---->
        <app-footer></app-footer>
      </div>
      <div id="right-sidebar-id" class="right-sidebar casino-right-sidebar teen2sidebar">
        <!---->
        <!---->
        <!---->
        <span>
          <!---->
          <!---->
        </span>
        <!---->
        <!---->
        <!---->
        <!---->
        <div class="casino-place-bet">
          <div class="casino-place-bet-title">
            <span>Last Results</span>
          </div>
          <div class="casino-video-last-results" *ngIf="gameActive">
            <span class="resultlow">L
              <!---->
              <!---->
            </span>
            <span class="resulthigh">
              <!----> H
              <!---->
            </span>
            <span class="resultlow">L
              <!---->
              <!---->
            </span>
            <span class="resulthigh">
              <!----> H
              <!---->
            </span>
            <span class="resulthigh">
              <!----> H
              <!---->
            </span>
            <span class="resultlow">L
              <!---->
              <!---->
            </span>
            <span class="resulttie">
              <!---->
              <!----> T
            </span>
            <span class="resultlow">L
              <!---->
              <!---->
            </span>
            <span class="resulthigh">
              <!----> H
              <!---->
            </span>
            <span class="resultlow">L
              <!---->
              <!---->
            </span>
            <!-- <a href="#" class="result-more"> ... </a> -->
            <!---->
          </div>
        </div>
        <span></span>
      </div>
</div>
