<div class="casino-video-cards d-none-small">
    <app-andar-bahar-card-layout [gameData]="gameData"></app-andar-bahar-card-layout>
</div>

<div class="casino-detail">
  <div class="casino-video-cards d-none-big">
    <div class="casino-video-cards-container">
      <div class="row row5">
        <div class="col-12 text-center next-count"> Next Card Count: <span class="text-warning">41 / Bahar</span>
        </div>
      </div>
      <div class="row row5 align-items-center justify-content-center">
        <div class="col-2">
          <div class="row row5">
            <div class="col-12">
              <b>ANDAR</b>
            </div>
          </div>
          <div class="row row5">
            <div class="col-12">
              <b>BAHAR</b>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card-inner">
            <div class="row row5">
              <div class="col-12">
                <div class="lastCards-container">
                  <section tabindex="0" class="lastCards hooper is-rtl">
                    <div class="hooper-list">
                      <ul class="hooper-track" style="transform: translate(0px, 0px);">
                        <li class="hooper-slide is-active is-current" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/7DD.png">
                        </li>
                        <li class="hooper-slide is-active" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/AHH.png">
                        </li>
                        <li class="hooper-slide is-active" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/7CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/4SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/6CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/JCC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/2SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/6DD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/3HH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/5CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/JHH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/5SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/KCC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/9SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/10SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/2DD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/4CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/10DD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/ADD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/QDD.png">
                        </li>
                      </ul>
                      <div class="hooper-navigation is-rtl">
                        <button type="button" class="hooper-prev is-disabled">
                          <svg class="icon icon-arrowRight" viewBox="0 0 24 24" width="24px" height="24px">
                            <title>Arrow Right</title>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                          </svg>
                        </button>
                        <button type="button" class="hooper-next">
                          <svg class="icon icon-arrowLeft" viewBox="0 0 24 24" width="24px" height="24px">
                            <title>Arrow Left</title>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path>
                          </svg>
                        </button>
                      </div>
                      <div aria-live="polite" aria-atomic="true" class="hooper-liveregion hooper-sr-only">Item 1 of 20</div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div class="card-inner">
            <div class="row row5 mt-1">
              <div class="col-12">
                <div class="lastCards-container">
                  <section tabindex="0" class="lastCards hooper is-rtl">
                    <div class="hooper-list">
                      <ul class="hooper-track" style="transform: translate(0px, 0px);">
                        <li class="hooper-slide is-active is-current" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/6HH.png">
                        </li>
                        <li class="hooper-slide is-active" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/QHH.png">
                        </li>
                        <li class="hooper-slide is-active" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/7HH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/7SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/8CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide is-next" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/2HH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/QCC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/9DD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/KSS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/10HH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/6SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/3CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/4DD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/2CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/JDD.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/4HH.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/9CC.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/8SS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/ASS.png">
                        </li>
                        <li aria-hidden="true" class="hooper-slide" style="width: 0px;">
                          <img src="https://wver.sprintstaticdata.com/v162/static/front/img/cards/10CC.png">
                        </li>
                      </ul>
                      <div class="hooper-navigation is-rtl">
                        <button type="button" class="hooper-prev is-disabled">
                          <svg class="icon icon-arrowRight" viewBox="0 0 24 24" width="24px" height="24px">
                            <title>Arrow Right</title>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                          </svg>
                        </button>
                        <button type="button" class="hooper-next">
                          <svg class="icon icon-arrowLeft" viewBox="0 0 24 24" width="24px" height="24px">
                            <title>Arrow Left</title>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"></path>
                          </svg>
                        </button>
                      </div>
                      <div aria-live="polite" aria-atomic="true" class="hooper-liveregion hooper-sr-only">Item 1 of 20</div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="ab-bg">
      <div class="andar-cards-box text-center" [ngClass]="{ 'suspended': gameData?.child[0]?.b === 0 }">
        <h5 class="w-100 text-center text-playera">Andar</h5>
          @for (item of gameData?.child; track item.sid) {
              @if (item.sid >= 1 && item.sid <= 13) {
                  <div class="casino-card-item">
                      <div> {{ item.l }} </div>
                      <div class="card-image">
                          <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/andar-bahar-cards/' + (item?.b === 0 ? 0 : item.sid) + '.png'">
                      </div>
                      <div class="casino-book d-none">0</div>
                  </div>
              }
          }
      </div>
      <div class="bahar-cards-box text-center" [ngClass]="{ 'suspended': gameData?.child[14]?.b === 0 }">
        <h5 class="w-100 text-center text-playerb">Bahar</h5>

          @for (item of gameData?.child; track item.sid) {
              @if (item.sid >= 21 && item.sid <= 33) {
                  <div class="casino-card-item">
                      <div> {{ item.l }} </div>
                      <div class="card-image">
                          <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/andar-bahar-cards/' + (item?.b === 0 ? 0 : (item.sid - 20)) + '.png'">
                      </div>
                      <div class="casino-book d-none">0</div>
                  </div>
              }
          }
      </div>
    </div>
  </div>
  <!---->
  <!---->
</div>
