<div class="casino-detail">
  <div>
    <div class="ab-bg">
      <div class="andar-cards-box text-center">
        <h5 class="w-100 text-center text-playera">Andar</h5>
          @for (item of gameData?.sub; track item.sid) {
              @if (item.sid >= 1 && item.sid <= 13) {
                  <div class="casino-card-item">
                      <div class="card-image">
                          <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/andar-bahar-cards/' + (ares[item.sid - 1] || 0) + '.png'">
                      </div>
                      <div class="casino-book d-none">0</div>
                  </div>
              }
          }
      </div>
      <div class="bahar-cards-box text-center">
        <h5 class="w-100 text-center text-playerb">Bahar</h5>
          @for (item of gameData?.sub; track item.sid) {
              @if (item.sid >= 21 && item.sid <= 33) {
                  <div class="casino-card-item">
                      <div class="card-image">
                          <img [src]="'https://wver.sprintstaticdata.com/v162/static/front/img/andar-bahar-cards/' + (bres[item.sid - 21] || 0) + '.png'">
                      </div>
                      <div class="casino-book d-none">0</div>
                  </div>
              }
          }
      </div>
    </div>
  </div>
  <div class="casino-remark mt-1">
    <div class="remark-icon">
      <img src="https://wver.sprintstaticdata.com/v162/static/front/img/icons/remark.png">
    </div>
    <marquee>{{ gameData?.remark }}</marquee>
  </div>
  <!---->
</div>
